* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(125, 81, 196);
}

nav {
  width: 100vw;
  height: 4rem;
  background: rgb(196, 193, 35);
  display: flex;
  justify-content: space-around;
  align-items: center;

  > div a {
    margin: 4px;
  }
}
